body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 25px;
    font-family: 'STXingkai', 'STXingkai', sans-serif;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 25px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 600px;
    left: 60px;
    top: 80px;
    position: absolute;
    font-size: 18px;
    background-image: linear-gradient(90deg,#ff0000 0,#2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#code {
    display: none;
    font-size: 20px;
}


#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

/* #error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
} */



.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}